---
import ContactForm from '../components/ContactForm/ContactForm.astro';
import LoadingSkeleton from '../components/LoadingSkeleton.astro';
import FancyHeader from '../components/FancyHeader.astro';
import IntroductionSection from '../components/IntroductionSection.astro';
import LastFm from '../components/LastFm.vue';
import PageWrapper from '../PageWrapper.astro';

import Analytics from '@vercel/analytics/astro';

const thisYear = new Date().getFullYear();
---

<PageWrapper>
  <div class="home">
    <div class="wrapper">
      <div class="header">
        <a href="/" class="logo">
          <img class="logo__img" src="/logo_steriley.png" alt="steriley.com" />
        </a>

        <IntroductionSection />
      </div>

      <div class="container container--flex">
        <div class="column column--primary">
          <FancyHeader>last.fm Recent Scrobbles</FancyHeader>
          <LastFm client:load>
            <LoadingSkeleton />
          </LastFm>
        </div>
        <div class="column column--secondary">
          <FancyHeader>Get in touch...</FancyHeader>
          <ContactForm />
        </div>
      </div>
    </div>

    <footer class="footer">
      Copyright &copy; 2004 &ndash; {thisYear} Stephen Riley
    </footer>
  </div>
  <Analytics />
</PageWrapper>

<style lang="scss">
  .home {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
  }

  .logo {
    position: relative;
    top: 0.5rem;
    z-index: 2;

    @media screen and (min-width: 1024px) {
      position: absolute;
    }
  }

  .header {
    overflow: hidden;
    position: relative;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;

    &--flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      @media screen and (min-width: 900px) {
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: row;
      }
    }
  }

  .column {
    max-width: 500px;
    width: 100%;

    &--secondary {
      order: -1;

      @media screen and (min-width: 900px) {
        order: 0;
      }
    }
  }

  .footer {
    color: #222;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
</style>
