---
import PageWrapper from '../PageWrapper.astro';

import Analytics from '@vercel/analytics/astro';

const SCORES_TO_DISPLAY = 10;
---

<PageWrapper>
  <div class="game">
    <h1 class="game__title">Test Your Reaction Speed</h1>

    <div id="scoreboard" class="scoreboards">
      <table id="score-today" class="scoreboard scoreboard--today">
        <caption class="scoreboard__caption">Daily Best Scores</caption>
        {
          [...Array.from({ length: SCORES_TO_DISPLAY })].map(() => (
            <tr>
              <>
                <td class="name" />
                <td class="score" />
              </>
            </tr>
          ))
        }
      </table>

      <table id="score-month" class="scoreboard scoreboard--monthly">
        <caption class="scoreboard__caption">Monthly Best Scores</caption>
        {
          [...Array.from({ length: SCORES_TO_DISPLAY })].map(() => (
            <tr>
              <>
                <td class="name" />
                <td class="score" />
              </>
            </tr>
          ))
        }
      </table>

      <div id="play-count">
        Games Played <span id="count">0</span>
      </div>

      <button class="button" id="start-game">Play</button>
    </div>

    <div id="game-area" class="game-area hidden">
      <div id="click-ball" class="game-dot"></div>

      <div class="game-area__scores">
        <span class="game-area__scores__title">Round Times</span>
        <ol id="score-list" class="score-list">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
        <span class="game-area__scores__title">Average</span>
        <ul class="score-list score-list--unordered">
          <li id="current-average">0.000</li>
        </ul>
        <span class="game-area__scores__title">Time To Beat</span>
        <ul class="score-list score-list--unordered">
          <li id="beat-time"></li>
        </ul>
      </div>

      <div class="feedback"></div>
      <button class="button hidden" id="start-over">Play Again</button>

      <form method="post" action="" id="submit-score" class="score-form hidden">
        <fieldset>
          <label for="name"
            >Well done, you have a high score! Please enter your name below:</label
          >
          <input
            class="score-form__name"
            type="text"
            maxlength="15"
            id="name"
            value=""
            name="name"
          />
          <input type="hidden" name="score" value="1" />
          <input id="form_submit" class="button" value="Submit" type="submit" />
        </fieldset>
      </form>
    </div>

    <div class="game__instructions">
      <p>
        <strong>Instructions:</strong> Once you have started the test you will be
        presented with a red dot in the center of the screen, after a random amount
        of time the dot will change to yellow.
      </p>
      <p>
        The objective is to click the dot as fast as possible when the colour
        changes, after 5 attempts your average response time will be displayed
        and if you're fast enough your score will be added to the leaderboard.
      </p>
      <p>
        Try the test at different times of the day to see when your at your
        quickest.
      </p>
    </div>
  </div>
  <script src="../scripts/speed.ts"></script>
  <Analytics />
</PageWrapper>

<style lang="scss">
  .hidden {
    display: none !important;
  }

  .game {
    color: #333;
    margin: 0 auto;
    max-width: 500px;
    min-height: 400px;
    position: relative;

    &__title {
      color: #006;
      font-family: 'Pacifico', cursive;
      font-size: 2.25em;
      margin: 0.5em 0 0.5em 0;
      text-shadow: 2px 2px 0 #b3b3ff;
      text-align: center;
    }
  }

  .scoreboards {
    position: relative;
  }

  .scoreboard {
    background-color: rgba(10, 0, 255, 0.25);
    margin-bottom: 1.5rem;
    min-width: 190px;

    td {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      padding: 1px 5px;
      min-height: 26px;
      display: inline-block;
    }
    td.name {
      color: #fff;
      max-width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 120px;
    }
    tr:last-child td {
      border: none;
    }

    &--monthly {
      background: rgba(255, 0, 0, 0.25);
      position: absolute;
      right: 0;
      top: 0;
    }

    &__caption {
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  .button {
    background-image: linear-gradient(to bottom, #2daebf, #155058);
    border-color: #2daebf #155058 #155058 #1e7681;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    width: 100%;

    &:active {
      background-image: linear-gradient(to bottom, #2daebf, #1e7681);
      padding: 4px 0 6px;
    }

    &:hover {
      background-image: linear-gradient(to top, #4bc4d4, #155058);
    }
  }

  .game-area {
    min-height: 350px;
    position: relative;

    &__scores {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.9em;
      text-align: center;
      width: 100px;

      &__title {
        font-weight: bold;
        margin: 0.5rem 0 0.25rem 0;
      }
    }
  }

  .score-list {
    margin: 0 0 1rem;
    padding: 0;

    &--unordered {
      list-style-type: none;
    }

    li {
      background-color: #7fffff;
      text-align: left;
      margin: 1px 0;
      padding: 0.25rem;
      border: 1px solid #999;
      list-style-position: inside;

      &:nth-child(even) {
        background-color: #7fe5ff;
      }
    }
  }

  #game-area .scores span {
    display: block;
    font-weight: bold;
  }
  #game-area .feedback {
    color: #cc3030;
    display: block;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    top: 250px;
  }

  .game-dot {
    background-color: #f00;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 50%;
    margin: -10px 0 0 -10px;
    position: absolute;
    top: 50%;
    width: 20px;

    &.active {
      background-color: #ff0 !important;
    }

    &.last-ball {
      border-radius: 50% !important;
      height: 60px !important;
      margin: -30px 0 0 -30px !important;
      width: 60px !important;
    }
  }

  button#start-over {
    position: absolute;
    bottom: 0;
  }
  .score-form {
    background-color: rgba(89, 86, 125, 0.9);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 25%;
    max-width: 370px;
    z-index: 10;

    &__name {
      background-color: #d9d6f6;
      border-radius: 0;
      border: none;
      box-sizing: border-box;
      font-size: 1.2em;
      margin: 0.25rem 0;
      outline: 0;
      padding: 0.5rem;
      width: 100%;
    }
  }
  #submit-score label {
    display: block;
    margin-bottom: 10px;
  }
  div#play-count {
    display: block;
    font-size: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 85px;
    width: 100%;
  }
  div#play-count span {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
</style>
