---
import FormInput from './FormInput.astro';

const timestamp = +new Date();
---

<div class="mx-auto max-w-lg">
  <h2 class="text-2xl font-bold leading-tight tracking-[-0.015em] text-primary">
    05. What's Next?
  </h2>
  <h3 class="mt-2 text-4xl font-bold text-primary">Get In Touch</h3>
  <p class="mt-4 text-base text-secondary">
    I'm currently open to new opportunities. Whether you have a question or just
    want to say hi, my inbox is always open. I’ll try my best to get back to
    you!
  </p>
  <form class="mt-8 flex flex-col gap-4 text-left">
    <div class="flex flex-col gap-4 sm:flex-row">
      <input
        class="w-full flex-1 rounded border-none bg-surface px-4 py-3 text-primary ring-1 ring-inset ring-gray-600 placeholder:text-secondary focus:ring-2 focus:ring-inset focus:ring-primary"
        placeholder="Name"
        type="text"
      />
      <input
        class="w-full flex-1 rounded border-none bg-surface px-4 py-3 text-primary ring-1 ring-inset ring-gray-600 placeholder:text-secondary focus:ring-2 focus:ring-inset focus:ring-primary"
        placeholder="Email"
        type="email"
      />
    </div>
    <textarea
      class="w-full rounded border-none bg-surface px-4 py-3 text-primary ring-1 ring-inset ring-gray-600 placeholder:text-secondary focus:ring-2 focus:ring-inset focus:ring-primary"
      placeholder="Message"
      rows="5"></textarea>
    <button
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center self-center overflow-hidden rounded h-12 px-6 mt-4 bg-primary text-primary text-base font-bold leading-normal tracking-[0.015em] transition-transform hover:scale-105 gap-2"
      type="submit"
    >
      <span class="truncate">Send Message</span>
      <span class="material-symbols-outlined">send</span>
    </button>
  </form>
</div>

<style lang="scss">
  .fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  button[type='submit'] {
    $button-color: #003;
    $text-color: #fff;

    appearance: none;
    background-color: $button-color;
    border-radius: 0.2em;
    border: none;
    color: $text-color;
    cursor: pointer;
    font-size: 1rem;
    outline: 0;
    padding: 1em 2em;
    transition: opacity 0.25s;
    align-self: flex-end;
    opacity: 0.75;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:disabled {
      opacity: 0.25;
      cursor: not-allowed;
    }
  }
</style>
