<div class="message-sent">
  <p>Thanks for getting in touch, your message has been sent! 🎉</p>
  <a href="/">Forgot to say something? Send another message&hellip;</a>
</div>

<style lang="scss">
  .message-sent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
  }

  p {
    margin: 0 0 1rem;
  }

  a {
    text-decoration: none;
  }
</style>
