---
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<header
  class="sticky top-0 z-50 flex flex-col items-center justify-between whitespace-nowrap bg-background/80 px-6 py-4 shadow-md backdrop-blur-sm md:flex-row md:px-10 lg:px-20"
>
  <div class="flex w-full items-center justify-between md:w-auto">
    <div class="flex items-center gap-3 text-primary relative w-50 mr-2">
      <img
        src="/logo_steriley.png"
        class="absolute scale-75 -top-7 lg:scale-100 lg:-top-7"
        alt="Ste Riley Logo"
      />
    </div>
    <div class="flex items-center gap-4 md:gap-8">
      <ThemeSwitcher />
      <button class="md:hidden text-text-dark" id="mobile-menu-toggle">
        <span class="material-symbols-outlined">menu</span>
      </button>
    </div>
  </div>
  <nav
    class="hidden w-full flex-col items-center gap-4 pt-4 md:w-auto md:flex md:flex-row md:gap-8 md:pt-0"
    id="mobile-menu"
  >
    <a
      class="text-sm font-medium text-secondary transition-colors hover:text-primary"
      href="#about">About</a
    >
    <a
      class="text-sm font-medium text-secondary transition-colors hover:text-primary"
      href="#experience">Experience</a
    >
    <a
      class="text-sm font-medium text-secondary transition-colors hover:text-primary"
      href="#portfolio">Portfolio</a
    >
    <a
      class="text-sm font-medium text-secondary transition-colors hover:text-primary"
      href="#contact">Contact</a
    >
    <button
      class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded h-9 px-4 border border-primary text-primary text-sm font-medium leading-normal tracking-[0.015em] transition-colors hover:bg-primary/10 gap-2"
    >
      <span class="truncate">Résumé</span>
      <span class="material-symbols-outlined text-lg!">download</span>
    </button>
  </nav>
</header>

<script>
  const menuToggle = document.getElementById('mobile-menu-toggle');
  const mobileMenu = document.getElementById('mobile-menu');

  menuToggle?.addEventListener('click', () => {
    mobileMenu?.classList.toggle('hidden');
    mobileMenu?.classList.toggle('flex');
  });
</script>
