---
const { number, title } = Astro.props;
---

<div class="flex items-center gap-4 pb-8">
  <h2 class="text-2xl font-bold leading-tight tracking-[-0.015em] text-primary">
    {number}.
  </h2>
  <h3 class="whitespace-nowrap text-2xl font-bold text-primary">{title}</h3>
  <hr class="w-full border-t border-text-secondary-dark/20" />
</div>
