<script>
  const themeToggle = document.getElementById(
    'theme-toggle',
  ) as HTMLButtonElement;
  const html = document.documentElement;

  const initTheme = () => {
    const storedTheme = localStorage.getItem('theme');
    const isDark = storedTheme
      ? storedTheme === 'dark'
      : window.matchMedia('(prefers-color-scheme: dark)').matches;
    html.classList.toggle('dark', isDark);
  };

  themeToggle?.addEventListener('click', () => {
    const isDark = !html.classList.contains('dark');
    html.classList.toggle('dark', isDark);
    localStorage.setItem('theme', isDark ? 'dark' : 'light');
  });

  initTheme();
</script>

<button
  id="theme-toggle"
  class="group fixed z-10 bottom-4 right-4 inline-flex items-center justify-between w-17 h-8 rounded-full p-1 duration-200 transition-colors bg-surface cursor-pointer border-2"
  aria-label="Toggle theme"
>
  <div
    id="theme-slider"
    class="absolute left-0 w-8 h-8 bg-primary rounded-full transition-transform duration-300 dark:translate-x-8"
    aria-hidden="true"
  >
  </div>

  <div class="relative z-10 flex items-center justify-center w-6 h-6">
    <span
      id="sun-icon"
      class="material-symbols-outlined transition-colors duration-300 text-white dark:text-white/50 dark:group-hover:text-white"
      >light_mode</span
    >
  </div>

  <div class="relative z-10 flex items-center justify-center w-6 h-6">
    <span
      id="moon-icon"
      class="material-symbols-outlined transition-colors duration-300 text-secondary/80 group-hover:text-black dark:text-surface"
      >dark_mode</span
    >
  </div>
</button>
