---
import './styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
      rel="stylesheet"
    />
    <style>
      .material-symbols-outlined {
        font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24;
        font-size: 24px;
      }
    </style>
    <title>Stephen Riley | SteRiley.com</title>
  </head>
  <body class="font-display bg-background-dark text-text-dark">
    <div class="fixed inset-0 -z-10 h-full w-full bg-background-dark">
      <div class="relative h-full w-full bg-background-dark">
        <div
          class="animate-gradient-move absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#cccccc0d_1px,transparent_1px),linear-gradient(to_bottom,#cccccc0d_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
        >
        </div>
      </div>
    </div>
    <slot />
  </body>
</html>
